.header-container {
    position: relative;
    width: 100%;
    height: 45rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    .header-image {
        position: absolute;
        z-index: -1;
        width: 100%;
        min-height: 100%;
        object-fit: cover;
        top: 50%;
        transform: translateY(-50%);
    }
}
