$main-dark: #30323d;
$main-clear: #f1f0ea;
$main-primary: #ee7b30;
$main-secondary: #9a031e;
$main-tertiary: #0094c6;

// Mobile Breackpoints
$main-mobile-breakpoint: 960px;

// Minimalist blue mountain colors
$main-blue-mountain-dark: #0b1728;
$main-blue-mountain-dark-blue: #1a5092;
$main-blue-mountain-light-blue: #67abf5;
$main-blue-mountain-sky-blue: #a5d1f6;
$main-blue-mountain-white: #fffce0;
